<h2>Dynamic Table</h2>
<p-table [columns]="cols" [value]="cars">
  <ng-template pTemplate="caption"> List of Cars</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ car[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer" let-columns>
    <tr>
      <td *ngFor="let col of columns">{{ col.header }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    There are {{ cars?.length }} cars
  </ng-template>
  <ng-template pTemplate="emptymessage">NO CARS FOUND</ng-template>
</p-table>

<h2>Group Columns</h2>
<p-table [value]="sales">
  <ng-template pTemplate="header">
    <tr>
      <td rowspan="3">Brand</td>
      <td colspan="4">Sale Rate</td>
    </tr>
    <tr>
      <th colspan="2">Sales</th>
      <th colspan="2">Profits</th>
    </tr>
    <tr>
      <th>Last Year</th>
      <th>This Year</th>
      <th>Last Year</th>
      <th>This Year</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sale>
    <tr>
      <td>{{ sale.brand }}</td>
      <td>{{ sale.lastYearSale }}</td>
      <td>{{ sale.thisYearSale }}</td>
      <td>{{ sale.lastYearProfit }}</td>
      <td>{{ sale.thisYearProfit }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td colspan="3">Totals</td>
      <td>$506,202</td>
      <td>$531,020</td>
    </tr>
  </ng-template>
</p-table>

<h2>Multiple Selection</h2>

<h3>Checkbox Selection</h3>
<p-table
  [columns]="cols"
  [value]="cars"
  [(selection)]="selectedCars3"
  dataKey="vin"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <ul>
      <li *ngFor="let car of selectedCars3" style="text-align: left">
        {{ car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color }}
      </li>
    </ul>
  </ng-template>
</p-table>
