<!-- Cars Table -->
<p-table [columns]="cols" [value]="cars">
  <ng-template pTemplate="caption"> List of Cars</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ car[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer" let-columns>
    <tr>
      <td *ngFor="let col of columns">{{ col.header }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    There are {{ cars?.length }} cars
  </ng-template>
  <ng-template pTemplate="emptymessage">NO CARS FOUND</ng-template>
</p-table>

<br />
<hr />

<!-- Sales Table -->

<p-table [value]="sales">
  <ng-template pTemplate="header">
    <tr>
      <td rowspan="3">Brand</td>
      <td colspan="4">Sale Rate</td>
    </tr>
    <tr>
      <th colspan="2">Sales</th>
      <th colspan="2">Profits</th>
    </tr>
    <tr>
      <th>Last Year</th>
      <th>This Year</th>
      <th>Last Year</th>
      <th>This Year</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sale>
    <tr>
      <td>{{ sale.brand }}</td>
      <td>{{ sale.lastYearSale }}</td>
      <td>{{ sale.thisYearSale }}</td>
      <td>{{ sale.lastYearProfit }}</td>
      <td>{{ sale.thisYearProfit }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td colspan="3">Totals</td>
      <td>$506,202</td>
      <td>$531,020</td>
    </tr>
  </ng-template>
</p-table>
